table, th, td{
        border: .02px solid black;
    }

#Luis
{
    background-color: red;
}

#Dante
{
    background-color: blue;
    color: white;
}

#Fátima
{
    background-color: purple;
    color: white;
}

#Viridiana
{
    background-color: blue;
    color: white;
}

#Gerardo
{
    background-color: orange;
}